{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Flowers.</a>
            <span style="margin-left: 350px;">
                <a href="#">Home</a>
                <a href="#">Rose</a>
                <a href="#">Dahlia</a>
                <a href="#">Tulip</a>
                <a href="#" class="abc">Purchase .</a>
            </span>

        </div>
    </nav>
    <section>
        <center>
            <h3>"IF WE COULD SEE THE MIRACLE OF A SINGLE FLOWER CLEARLY OUR WHOLE LIVE WOULD CHANGE."
            </h3>
        </center>
    </section>
    <footer style="margin-bottom: 500px;">
    </footer>
    
</body>
</html>